<!doctype>
<html lang="zh-cn">
    <head>
        <title>用户详情</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div class="content">
            <div class="top">
                <div class="top-left">
                    <h2>用户详情</h2>
                </div>
                <div class="top-right">
                    <a href="/admin"><button type="button">返回主页</button></a>
                </div>
            </div>
            
        </div>
    </body>
</html>