<!doctype>
<html lang="zh-cn">
    <head>
        <title>发布公告</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div class="content">
            <div class="top">
                <div class="top-left">
                    <h2>发布公告</h2>
                </div>
                <div class="top-right">
                    <a href="/admin"><button type="button">返回主页</button></a>
                </div>
            </div>
            <form action="/createNotice" method="POST">
                <div class="createNotice">
                    <table>
                        <tr>
                            <td>公告标题：</td>
                            <td><input name="noticeTitle" type="text" size="20" style="width: 300px;float: left;"></td>
                        </tr>
                        <tr>
                            <td>公告内容：</td>
                            <td><textarea name="noticeContent" cols="40" rows="20" style="margin-top: 20px; float: left;" placeholder="公告内容"></textarea></td>
                        </tr>
                    </table>
                </div>
                <input class="noticeSubmit" type="submit" value="发布">    
            </form>
        </div>
    </body>
</html>