<!doctype html>
<html lang="zh-cn">
    <head>
        <title>login</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <form action="/login" method="POST">
            <label for="userName">用户名</label>
            <input type="text" name="userName" id="userName">
            <label for="password">密码</label>
            <input type="text" name="password" id="password">
            <button type="submit">登录</button>
        </form>
    </body>
</html>
            