body{
  text-align: center;
}

.content{
  margin: 0 auto;
  text-align: center;
  width: 960px;
}

.top{
  width: 100%;
  height: 75px;
  background-color: gray;
}
.top h1{
  padding-top: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: white;
  letter-spacing: 30px;
}
.top-left{
  width: 70%;
  float: left;
  height: 100%;
  text-align: center;
}

.top-left h2{
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: white;
  letter-spacing: 30px;
}

.top-right{  
  width: 30%;
  float: left;
  height: 100%;
  text-align: center;
}

.top-right button{
  margin-left: 20px;
  margin-top: 30px; 
  font-size: 15px;
  border-radius: 30%; 
  border: 2px solid white;
}

button:hover{
  background: white;
  color: gray;
}

.appealList{
  width: 860px;
  margin-left: 20px;
  margin-top: 50px;
}

.appeal{
  border: solid grey 1px;
  border-radius: 10pt;
  margin-top: 10px;
}

.appeal span{
  display: inline-block;
  text-align: left;
}
.appeal .appeal-num{
  width: 30px;
}
.appeal .userID{
  width: 100px;
}
.appeal .apContent{
  width: 500px;
}
.appeal button{
  width: 80px;
  border-radius: 20%; 
  border: 1px solid grey;
}
ul{
  list-style: none;
}

.details{
  position: absolute;
  left: 20%;
  top: 150px;
}
.apResult{
  margin-top: 30px;
}

.details table{
  border-collapse: collapse;
  width:100%;
  width: 750px;
  text-align: center;
}

.details table th{
  border: 1px solid gainsboro; 
}
.details table td{
  border: 1px solid gainsboro; 
}
.apText{
  height:80px;
}

.submitButton{
  width: 80px;
  border-radius: 20%; 
  border: 1px solid grey;
}

.submitButton:hover{
  background: white;
  color: gray;
}

.createNotice{
  position: absolute;
  left: 30%;
  top: 120px;
}

.noticeSubmit{
  width: 80px;
  border-radius: 20%; 
  border: 1px solid grey;
  position: absolute;
  left: 45%;
  top: 500px;
}

.adminLogin-table{
  margin-top: 30px;
  width: 400px;
  height: 200px;
}

.adminLogin-button{ 
  margin-top: 30px; 
  font-size: 20px;
  width:100px;
  border-radius: 30%; 
  border: 2px solid grey;
}

.count{
  margin-top:50px;
  margin-left: 80px; 
}

.count table{
  border-collapse: collapse;
  font-size: 15px;
  width: 750px;
  text-align: center;
}
.count table td{
  color: tomato;
  font-size: 20px;
}

.baduserList{
  width: 600px;
  text-align: center;
  margin-left: 180px;
  margin-top: 50px;
}

.baduserList ul{
  margin-left: -50px;
}
.baduser{
  width: 600px;
  border: solid brown 1px;
  border-radius: 10pt;
  margin-top: 10px;
  text-align: left;
}

.baduser span{
  display: inline-block;
}

.baduser .baduser-num{
  margin-left:60px;
  width: 30px;
}
.baduser .userID{
  margin-left:60px;
  width: 100px;
}
.baduser .credit{
  margin-left: 40px;
  width: 100px;
}
.baduser button{
  margin-left: 50px;
  width: 80px;
  border-radius: 20%; 
  border: 1px solid chocolate;
}

.baduser-table{
  margin-top:100px;
  height: 150px;
}
.do-Button {
  margin-top: 100px;
  margin-left: -100px;
}
.do-Button button{
  color: beige;
  margin-left: 20px;
  font-size: 20px;
  width: 80px;
  border-radius: 20%; 
  border: 1px solid chocolate;
}
.delete{
  background: red;
}
.warning{
  background: chocolate;
}

.do-Button button:hover{
  color: red;
  background: white;
}